__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

.env
*.db
*.db-shm
*.db-wal

ml/data/
ml/artifacts/
backend/data/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
.vscode/
.DS_Store
